body {
    margin: 0;
    background: #181F2A;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    color: #FFFFFF;
}

header, h1, h2, h3, h4, h5, h6 {
    width: 100%;
    top: 0;
    font-family: 'Raleway', sans-serif;
}

h1 {
    padding: 24px 0 0;
    line-height: 1.5;
    font-size: 1.4rem;
}

h2, h4 {
    margin: 36px 0 0;
    font-size: 1rem;
}

p {
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: url('images/mouse-cursor.png');
}

blockquote {
    margin: 10px auto;
    padding: 12px 24px 20px;
    text-align: start;
}

button {
    width: 90%;
    max-width: 260px;
    margin: 14px;
    border: none;
    border-radius: 35px;
    padding: 14px;
    background-image: linear-gradient(to right, #65E2D9 0%, #339ECC 100%);
    transition: 0.5s;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
}

li {
    list-style-type: none;
}

* {
    box-sizing: border-box;
}

#nav-main {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 20px 0 40px;
    text-align: start;
    align-items: center;
}

.push-left {
    margin-right: auto;
}

.logo {
    width: 70%;
    height: auto;
}

.nav-items {
    padding-left: 24px;
    font-size: .7rem;
    white-space: nowrap;
}

.nav-items a:hover {
    text-decoration: underline;
}

.nav-items a:active {
    font-weight: 700;
}

#intro-container {
    background:
        url(images/bg-curvy-mobile.svg) center no-repeat,
        linear-gradient(#1C2431 50%, #181F2A 60%);
    margin: auto;
    padding: 0 32px 48px;
}

.intro {
    display: block;
    margin: auto;
    width: 100%;
}

#benefits-container {
    display: grid;
    max-width: 1100px;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 24px 0;
}

.benefits-img {
    width: 60px;
}

.benefits-card {
    max-width: 600px;
    margin: 10px auto;
    padding: 24px;
}

#productive-container {
    padding: 60px 16px;
    align-items: center;
    text-align: start;
}

.productive-img {
    display: block;
    width: 92%;
    margin: auto;
}

.productive-content {
    max-width: 560px;
}

.demo-link {
    display: inline-flex;
    align-items: center;
    border-bottom: 1px #65E2D9 solid;
    padding-bottom: 4px;
    text-decoration: none;
    font-size: .8rem;
    color: #65E2D9;
}

.demo-link:hover {
    filter: saturate(0%);
    border-bottom: 1px #FFFFFF solid;
    color: #FFFFFF;
}

.arrow {
    width: 16px;
    margin-left: 4px;
}

#testimonials-container {
    background: url(images/bg-quotes.png) no-repeat;
    background-size: 25px auto;
    background-position: 10px 0;
    margin: 80px 20px 300px;
    padding: 5px 0;
}

.testimonials-card {
    background-color: #202A3C;
    margin: 0 20px 20px;
    border-radius: 5px;
}

.testimonials {
    line-height: 2;
    font-size: .6rem;
}

.profile {
    float: left;
    width: 30px;
    margin: 0 10px 5px 0;
    border-radius: 50%;
}

.author {
    font-size: .6rem;
    font-style: normal;
    font-weight: 700;
}

.position {
    font-size: .5rem;
    font-style: normal;
}

#stacking-container {
    position: relative;
}

#sign-up-container {
    position: absolute;
    margin: -170px 16px;
    border-radius: 10px;
    padding: 28px 20px 20px;
    background-color: #202A3C;
    box-shadow: 4px 4px 5px 1px #0B1523;
    z-index: 1;
}

.sign-up-text {
    font-size: .8rem;
}

#email {
    width: 260px;
    margin: 14px;
    border: none;
    border-radius: 35px;
    padding: 16px 24px;
    font-family: 'Raleway', sans-serif;
}

#main-footer {
    display: grid;
    grid-template-rows: auto;
    padding: 200px 5% 5%;
    background-color: #0B1523;
}

.location-container {
    display: flex;
    margin: 14px 0 0;
    padding: 0 10px;
}

.location-text {
    line-height: 1.75;
}

.footer-header {
    grid-row: 1 / 2;
}

.footer-logo {
    float: left;
    margin: 30px 0 30px 10px;
}

#footer-info-container {
    clear: left;
}

.footer-info {
    grid-row: 2 / 3;
    line-height: 2.5;
    text-align: start;
}

.footer-info ul {
    padding: 10px;
}

.contact-info {
    grid-row: 3 / 4;
    padding: 0 0 20px;
}

.contact-info ul {
    margin: 0;
}

.contacts {
    margin-right: 20px;
    width: 15px;
}

.info-links-a {
    grid-row: 4 / 5;
}

.info-links-b {
    grid-row: 5 / 6;
}

#main-footer a:hover {
    font-weight: 700;
}

.social-media-container {
    padding-top: 50px;
}
.social-media {
    width: 20px;
    margin: 3px;
}

.social-media:hover {
    filter: brightness(0.7) sepia(1) saturate(1000%) hue-rotate(150deg);
}

@media only screen and (min-width: 600px) {
    main {
        margin: 0 75px;
    }

    blockquote {
        font-size: .8rem;
    }

    button {
        margin-left: 10px;
        max-width: 200px;
        font-size: .8rem;
    }

    button:hover {
        background: #65E2D9;
        cursor: pointer;
    }

    .intro {
        max-width: 500px;
    }

    #benefits-container {
        margin: 0 75px;
    }

    .benefits-card {
        padding: 24px 48px;
    }

    #productive-container {
        padding: 60px 50px;
        justify-content: center;
    }

    #testimonials-container {
        max-width: 450px;
        margin: 80px auto 150px;
        padding: 5px 0;
    }

    #stacking-container {
        width: 600px;
        height: 100px;
        margin: auto;
    }

    #sign-up-container {
        margin: -10px 24px;
    }

    #email {
        margin-right: 10px; 
        padding: 14px 24px;
        width: 250px;
    }

    #main-footer {
        padding-top: 150px;
    }
}

@media only screen and (min-width: 1024px) {
    main {
        max-width:  1200px;
        margin: auto;
    }

    h1, h2 {
        font-size: 1.8rem;
    }

    h3 {
        margin: 16px 0;
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.2rem;
    }

    blockquote {
        padding: 20px 30px;
        font-size: .8rem;
    }

    #nav-main {
        max-width: 1000px;
        margin: auto;
        padding: 50px 24px;
    }

    .nav-items {
        padding-left: 44px;
    }

    #intro-container {
        background:
            url(images/bg-curvy-desktop.svg) bottom no-repeat,
            linear-gradient(#1C2431 70%, #181F2A 100%);
    }

    .intro-text {
        max-width: 500px;
        margin: auto;
    }

    #benefits-container {
        grid-template-columns: 1fr 1fr;
        margin: auto;
        padding: 24px 130px;
    }

    .benefits-card {
        max-width: 375px;
    }
    
    #productive-container {
        display: flex;
        flex-direction: row;
    }

    .productive-content {
        margin: 0 20px;
        max-width: 400px;
    }
    
    #testimonials-container {
        display: flex;
        background-size: 50px;
        max-width: 1200px;
        margin: 80px auto 150px;
        padding: 25px 10px;
    }

    .testimonials-card {
        margin: 0 20px;
    }

    .author, .position {
        font-size: .6rem;
    }

    #stacking-container {
        width: 663px;
    }

    #sign-up-container {
        padding: 16px 30px 10px;
    }

    .sign-up-text {
        padding: 0 28px;
        font-size: .7rem;
    }

    #email {
        width: 340px;
        padding: 10px 20px;
    }

    .sign-up-btn {
        width: 160px;
        padding: 10px 16px;
    }

    #footer-container {
        margin: 0 auto;
        max-width: 1200px;
    }

    .footer-logo {
        width: 80px;
    }

    #footer-info-container {
        display: flex;
    }

    #main-footer {
        padding-top: 100px;
    }

    .location-container {
        flex: 3;
        padding-right: 50px;
    }

    .contact-info {
        flex: 2;
    }

    .info-links-a {
        flex: 1;
    }

    .info-links-a ul{
        margin-top: 0;
        padding-top: 0;
    }

    .info-links-b {
        flex: 1;
    }

    .info-links-b ul{
        margin-top: 0;
        padding-top: 0;
    }

    .social-media-container {
        padding-top: 0;
        flex: 1;
    }    
}